.App {
  font-family: sans-serif;
  text-align: center;
}
input {
  padding: 1rem;
  width: 80%;
  border: 2px solid black;
  border-radius: 2rem;
}
div.output {
  padding: 2rem;
  font-size: larger;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
}
span.displayEmoji {
  font-size: 2rem;
  cursor: pointer;
}
h1 {
  text-shadow: 2px 2px yellow;
}

